
/* import fonts from fonts.css */
@import url(fonts.css);

/* css variables */

@import url(./partials/_variables.css);



/* start mavigation */

    .header_area .main-menu .navbar .navbar-brand
    {
        padding: 0 1em 0 2.5em;
    }

    .header_area .main-menu .navbar
    {
        padding: 0.5rem 1rem;
    }  
     
/* end navigation */

.container-fluid{
    display:absolute;
}


.generador{
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  background: white;
}


.formName{
    padding-top: 5%;
    padding-bottom: 5%;
}
.formTitle{
    padding-top: 5%;
    padding-bottom: 5%;
}

.form-check{
    margin-top: 5%;
    margin-bottom: 5%;
}

#botonGenerar{
    margin-top: 5%;
    margin-bottom: 5%;
}

.textArea{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    background: white;
}

.textTitle{
    padding-top: 5%;
    padding-bottom: 5%;
}

/* start footer */
   
footer {
    position: relative;

}
html, body { overflow-x: hidden; }